<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>

    <h1>Sucursal: <%= sucursal.sucursal %>  </h1>
    
    <h5> Cantidad de autos: <%= sucursal.autos.length %> </h5>
    <ul>
        <li>Dirección: <%= sucursal.direccion %></li>
        <li>Teléfono: <%= sucursal.telefono %></li>
    </ul>
    
</body>
</html>